body{
  background: url('../images/bg.png') no-repeat center center fixed;
  background-size: cover;
}
body.modal-open{
  overflow-y: hidden;
}

.menu{
  color:white;
  position: fixed;
  margin-left: 3%;
  margin-top: 3%;
  width: 7%;
  cursor: pointer;
  border-radius: 5px;
}
.menu:hover{
  background: rgba(255, 255, 255, 0.31)
}
.menu:link,.menu-visited{
  color:white;
}

.menu-button{
  text-align: center;
  color: white;
  width:150px;
  margin:0% 3% 0% 3%;
}
.menu-button:hover{
  background: rgba(255, 255, 255, 0.31)
}
.menu-button img{
  width: 120px;
  height: 12%;
}
.menu-button p{
  font-weight: bolder;
}
.headName{
  position: absolute;
  right: 0%; top: 6%;
  color: white;
  font-size: 25px;
}
.headName img{
  height: 5%;  width: 15%;
  margin-left:20px;
}

.view{
  height: 83%;
  width: 94%;
  position: fixed;
  top: 13%;
  left: 3%;
}

/*Organization*/
.org-block{
  position: absolute;
  width: 124px;
  height: 54px;
  border-radius: 18px;
  word-wrap: break-word;
  color: white;
}
.org-block span{
  display: none;
}
/*Enable srcolling on modal*/
.modal-open{
  overflow-y: scroll;
}

/*Organization */
#orgProfile_modal .modal-header > button{
  opacity: 1;
}
#orgProfile_modal .modal-body #orgClose{
  position: fixed;
  max-height: 80px;
  top: -40px; right:-38px;
}

#orgProfile_modal .block{
  /*margin-top:-41%;*/
  position: relative;
}

#orgProfile_modal .frame{
  width: 104%;  height: 40%;
  margin-left: -3%;
}
#orgProfile_modal .pp{
  position: absolute;
  left: 6.9%;
  top: 61px;
  height: 115px;
}

#orgProfile_modal .name{
  margin-left: 30%;
  color:white;
  text-align: center;
  font-size: 15px;
  bottom: 30%;
  position: absolute;
  z-index: 1;
  width: 63%;
}
#orgProfile_modal .name > :first-child{
  font-size: 20px;
  font-weight: bolder;
}

#dostTech_modal .link_block{
  background: white;
  width: 20%;
  height: 24%;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
}
#dostTech_modal .link_block img{
  height: 25%;
  margin:48px 0px;
  margin-left:-16px;
}
