body{
  background: url('../images/bg.png') no-repeat center center fixed;
  background-size: cover;
}

.menu{
  color:white;
  position: fixed;
  margin-left: 3%;
  margin-top: 3%;
  width: 5%;
  cursor: pointer;
  border-radius: 5px;
}
.menu:hover{
  background: rgba(255, 255, 255, 0.31)
}

.menu-button{
  text-align: center;
  color: white;
  width:21%;
}
.menu-button:hover{
  background: rgba(255, 255, 255, 0.31)
}
.menu-button img{
  width: 80%;
  height: 12%;
}
.menu-button p{
  font-weight: bolder;
}

.view{
  height: 83%;
  width: 94%;
  position: fixed;
  top: 13%;
  left: 3%;
}

/*Organization*/
.org-block{
  position: absolute;
  width: 7.1%;
  height: 7.1%;
  border-radius: 18px;
  word-wrap: break-word;
  color: white;
}
.org-block span{
  display: none;
}
#orgProfile_modal .block{
  height: 38%;
  width: 135%;
  margin-left: -18%;  margin-top: -11%;
  background: url('../images/frame.png') no-repeat;
  background-size: cover;
}

#orgProfile_modal img{
  height: 43%; width: 13%;
  margin-top: 13.6%;  margin-left: 19.6%;
}

#orgProfile_modal .name{
  margin-top: -10%; margin-left: 22%;
  color:white;
  text-align: center;
  font-size: 15px;
}
#orgProfile_modal .name > :first-child{
  font-size: 20px;
  font-weight: bolder;
}
